# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Data Science Tools

Some of the popular languages that Data Scientists use are :
1. Python
2. SQL
3. Java

Some of the commonly used libraries used by Data Scientists include :
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Python |
| R Language |
| Jupyter Notebook |

### Below are few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic operation to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing it by 60
200/60

3.3333333333333335

## Author
Laurane Biju